/* ================================= 
  Base Element Styles
==================================== */

body {
    margin: 0px;
}

a {
	color: #093a58;
    text-decoration: none;
    padding: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    padding: .8em;
}




/* ================================= 
  Base Layout Styles
==================================== */
.content-box {
    height: 300px;
    width: 590px;
    text-align: center;
    background-color: gray;
    margin: 10px 10px;
}


.button {
    background-color: lightblue;
    text-align: center;
    margin: 50px;
}

.main-header {
    background-color: gainsboro;
    height: 50px;
    /* margin: -8px -8px 0 -8px; */
}

.banner {
	background-color: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 48px;
    text-align: center;
}




